/**/
body {
    background: #8dcece;
    font-family: 'Titillium Web', sans-serif;
}

h1{
    text-align: center;
    font-weight: 700
}

.italic-p {
    font-style: italic;
    text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
    font-size: larger;
}

a{
    text-decoration: none;
}

ul li {
    display: inline;
    margin-right: 20px;
}

.nav_a{
    color: darkred;!important;
}

img{
    display: block;
    margin: 0 auto;
}

caption{
    font-weight: 700
}

.calendar-table{
    background-color: white;
    border: 1px solid black;
    border-radius: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.calendar-table-head{
    height: 40px;
    width: 220px;
    border-radius: 10px;
}

.calendar-table.th{
    border-radius: 10px;
}

#1, #2, #3{
    text-align: right;
}
.driver_table{
    border: 1px solid black;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

/*.simple-p{*/
/*    text-align: start;*/
/*}*/